- cache current_user.username do
  .ui.grid
    .row
      .five.wide.left.aligned.column
        .ui.teal.inverted.segment
          %h1 Welcome, #{current_user.username}
          %img{src: current_user.image_url, height: 250, width: 250}
    .row
      .four.wide.column
        .ui.teal.inverted.raised.segment#most-recent
          .ui.items
            %h3 Your most recently played song:
            - cache [@most_recent_song.artist, @most_recent_song.title].join('-') do
              .item
                .image
                  =image_tag "#{@most_recent_song.cover_url}"
                .content.card-text
                  .header.card-text= @most_recent_song.title
                  .meta.card-text
                    %span by: #{@most_recent_song.artist}
                  .extra.card-text= @most_recent_song.album
      .four.wide.column
      .four.wide.column
      .four.wide.column
        .ui.teal.inverted.raised.segment#top-5-artists
          %h3 Top 5 Artists of the past month:
          %ol
            - @top_5_artists.each do |artist|
              %li
                = artist.name

    -# .sixteen.wide.column
    -#   .ui.centered.link.cards
    -#     - @top_5_artists.each do |artist|
    -#       .card
    -#         .image
    -#           = image_tag artist.images[1][:url]
    -#         .content
    -#           .header
    -#             =artist.name
    -#           .description
    -#             =artist.genres.join(", ")
