!!! 5
%html
  %head
    %title TuneView
    = csrf_meta_tags
    = csp_meta_tag
    - javascript_include_tag("application")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %body
    #flashes
      -# - flash.each do |type, message|
      -#   = content_tag :div, message, class: type
      = semantic_flash
    .ui.fluid.container
      - if current_user
        .ui.inverted.black.top.menu
          = link_to("Home", home_path, html_options = {class: "item"})
          .right.menu
            - unless current_user
              = link_to("Sign in/Register", "/auth/spotify", html_options = {class: "item"})
            = link_to('Dashboard', dashboard_path, html_options = {class: "item"})
            = link_to('Playlists', playlists_path, html_options = {class: "item"})
      = yield