!!! 5
%html
  %head
    %title TuneView
    = csrf_meta_tags
    = csp_meta_tag
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - javascript_include_tag("application")

    %body
    #flashes
      -# - flash.each do |type, message|
      -#   = content_tag :div, message, class: type
      = semantic_flash
    .ui.fluid.container
      - if current_user
        .ui.inverted.black.top.menu
          = link_to("Home", home_path, html_options = {class: "item"})
          .right.menu
            - unless current_user
              = link_to("Sign in/Register", "/auth/spotify", html_options = {class: "item"})
            = link_to('Dashboard', dashboard_path, html_options = {class: "item"})
            = link_to('Playlists', playlists_path, html_options = {class: "item"})
      = yield